{
    "Email": {
        "smtpServer" : "",
        "port" : "",
        "username" : "",
        "password" : "",
        "fromName" : "",
        "fromAddress" : "",
        "toName" : "",
        "toAddress" : ""
    },
    "AppSettings": {
        "token" : ""
    }
}